body {
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 25px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    text-indent: 10px;
}

select {
    text-indent: 5px;
}

button {
    background-color: green;
    color: white;
    outline: 1px solid white;
}

button:hover {
    background-color: white;
    color: green;
    outline: 1px solid green;
}

input, select, button {
    margin-top: 10px;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.main-container {
    width: 100%;
    height: 600px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.title-container {
    font-size: 50px;
    text-align: center;
    text-indent: 50px;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.board-container {
    width: 80%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
}

.board {
    min-width: 400px;
    min-height: 400px;
    max-height: 100%;
    display: grid;
    grid-template-rows: repeat( 7, 1fr );
    grid-template-columns: repeat( 7, 1fr );
    margin-top: 5%;
    margin-left: 5%;
}

.form-wrapper {
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: end;
}

.form-container {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    grid-template-rows: repeat( 2, 1fr );
    color: gainsboro;
}

.cell {
    background-color: black;
    outline: 1px solid white;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.clear-btn {
    width: 50%;
}
.submit-btn {
    width: 50%;
}

.placeRandom-btn {
    margin-top: 20px;
}

.start-btn {
    margin-top: 20%;
    background-color: blue;
    color: white;
    outline: 1px solid white;
    cursor: pointer;
}

.start-btn:hover {
    background-color: white;
    outline: 1px solid blue;
    color: blue;
}

.reset-btn {
    margin-top: 5%;
    background-color: red;
    color: white;
    outline: 1px solid white;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: white;
    outline: 1px solid red;
    color: red;
}